<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunwei.product.common.dao.QhzSmsDetailDao">

    <!-- 过滤查询结果(主要用于联合查询) -->
    <resultMap type="com.yunwei.product.common.model.QhzSmsDetail" id="resultMap">
         <id column="id" property="id" />
         <result column="type" property="type" />  
         <result column="mobile" property="mobile" />  
         <result column="content" property="content" />  
         <result column="sendTime" property="sendTime" />  
         <result column="message" property="message" />  
         <result column="createTime" property="createTime" />  
    </resultMap>
    
    <sql id="sql">
         id,
         type,
         mobile,
         content,
         sendTime,
         message,
		 createTime
    </sql>
    
    <sql id="insertSql">
         type,
         mobile,
         content,
         sendTime,
         message,
         createTime
    </sql>
    
    <sql id="unionSql">
         sd.id,
         sd.type,
         sd.mobile,
         sd.content,
         sd.sendTime,
         sd.message,
         sd.createTime
    </sql>
    
    <!-- 当前表参数条件 -->
    <sql id = "whereSql">
	   <where>
            <if test="id != null and id != '' ">
	          and id = #{id}
	        </if>
            <if test="type != null and type != '' ">
	          and type = #{type}
	        </if>
            <if test="mobile != null and mobile != '' ">
	          and mobile like CONCAT(CONCAT('%',#{mobile}),'%')
	        </if>
            <if test="content != null and content != '' ">
	          and content = #{content}
	        </if>
            <if test="sendTime != null and sendTime != '' ">
	          and sendTime = #{sendTime}
	        </if>
            <if test="message != null and message != '' ">
	          and message = #{message}
	        </if>
	        <if test="createTime != null and createTime != '' ">
	          and createTime = #{createTime}
	        </if>
	    </where> 
    </sql>
    
    <!-- 当前表联合查询条件(Map参数) -->
    <sql id = "whereUnionSql">
	   <where>
            <if test="id != null and id != '' ">
	          and sd.id = #{id}
	        </if>
            <if test="type != null and type != '' ">
	          and sd.type = #{type}
	        </if>
            <if test="mobile != null and mobile != '' ">
	          and sd.mobile = #{mobile}
	        </if>
            <if test="content != null and content != '' ">
	          and sd.content = #{content}
	        </if>
            <if test="sendTime != null and sendTime != '' ">
	          and sd.sendTime = #{sendTime}
	        </if>
            <if test="message != null and message != '' ">
	          and sd.message = #{message}
	        </if>
	        <if test="createTime != null and createTime != '' ">
	          and sd.createTime = #{createTime}
	        </if>
	    </where> 
    </sql>
    
    <!-- 当前表批量删除条件 -->
    <sql id="whereBatchSql">
		<where>
			<if test="id != null and id != '' ">
				and id in
				<foreach collection="id" item="id" separator="," open="("
					close=")">
					#{id}
				</foreach>
			</if>
		</where>
	</sql>
	
	<!-- 分页sql条件 -->
	<sql id="pageSql">
       <if test="begin == 0 || begin > 0">
             limit #{begin},#{end}
        </if>
    </sql>

	<!-- 当前表添加-->
	<insert id="insert" parameterType="com.yunwei.product.common.model.QhzSmsDetail">
		insert into qhz_sms_detail(<include refid="insertSql"/>) 
		values(
	             #{type},
	             #{mobile},
	             #{content},
	             #{sendTime},
	             #{message},
	             #{createTime}
		     )
	</insert>
	
	<!-- 当前表批量添加 -->
	<insert id="insertBatch" parameterType="java.util.List">
        insert into qhz_sms_detail(<include refid="insertSql"/>)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
	             #{item.type},
	             #{item.mobile},
	             #{item.content},
	             #{item.sendTime},
	             #{item.message},
	             #{item.createTime}
	       )
        </foreach>
    </insert>
    
	<!-- 当前表查询 -->
	<select id="queryList" parameterType="java.util.Map" resultType="com.yunwei.product.common.model.QhzSmsDetail">
		select <include refid="sql"/> from qhz_sms_detail
		<include refid="whereSql"/>
		order by id desc
	</select>
	
	<!-- 当前表分页查询(Map参数) -->
	<select id="queryListPage" parameterType="java.util.Map" resultType="com.yunwei.product.common.model.QhzSmsDetail">
		select <include refid="sql"/> from qhz_sms_detail
		<include refid="whereSql"/>
		order by id desc
		limit #{begin},#{end}
	</select>
	
	<!-- 当前表联合查询(Map参数)(1、子表关联查询，2、不同类型表关联查询) -->
	<select id="queryUnionList" parameterType="java.util.Map" resultMap="resultMap">
		select <include refid="unionSql"/> from qhz_sms_detail as sd
		<include refid="whereUnionSql"/>
		order by id desc
	</select>
	
	<!-- 当前表联合分页查询)(Map参数)(1、子表关联查询，2、不同类型表关联查询) -->
	<select id="queryUnionListPage" parameterType="java.util.Map" resultMap="resultMap">
		select <include refid="unionSql"/> from qhz_sms_detail as sd
		<include refid="whereUnionSql"/>
		<!-- 分页查询，通过begin条件区别 -->
		<include refid="pageSql"/>
		order by id desc
	</select>
	
	<!-- 当前表查询总条数 -->
	<select id="queryTotals" parameterType="java.util.Map" resultType="int">
		select count(1) from qhz_sms_detail
		<include refid="whereSql"/>
	</select>
	
	<!-- 当前表更新 -->
	<update id="update" parameterType="java.util.Map">
	    update qhz_sms_detail
	     <trim prefix="set" suffixOverrides=",">
            <if test="type != null and type != '' ">
	           type = #{type},
	        </if>
            <if test="mobile != null and mobile != '' ">
	           mobile = #{mobile},
	        </if>
            <if test="content != null and content != '' ">
	           content = #{content},
	        </if>
            <if test="sendTime != null and sendTime != '' ">
	           sendTime = #{sendTime},
	        </if>
            <if test="message != null and message != '' ">
	           message = #{message},
	        </if>
	        <if test="createTime != null and createTime != '' ">
	           createTime = #{createTime},
	        </if>
	    </trim>
	    <where>
             <if test="id != null and id != '' ">
	           and id = #{id}
	         </if>
	    </where>
	</update>
	
	<!-- 当前表批量更新 -->
	<update id="updateBatch">
	     update qhz_sms_detail
	     <trim prefix="set" suffixOverrides=",">
	        <foreach collection="fields" item="field" separator="end,">
	          ${field} = CASE id
	          <foreach collection="lists" item="item">
	              when #{item.id} then #{item.${field}}
	          </foreach>
	        </foreach>
	     </trim>
	     <where>
	         and id in
	        <foreach collection="lists" item="item" separator="," open="(" close=")">
	             #{item.id}
	        </foreach>
	     </where>
	</update>
	
	<!-- 当前表删除 -->
	<delete id="delete" parameterType="java.util.Map">
	    delete from qhz_sms_detail
	    <where>
            <if test="id != null and id != '' ">
	           and id = #{id}
	        </if>
	    </where>
	</delete>
	
	<!-- 当前批量删除 -->
	<delete id="deleteBatch" parameterType="java.util.Map">
	   delete from qhz_sms_detail
	   <include refid="whereBatchSql"/>
	</delete>
	
</mapper>