<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunwei.product.common.dao.YwTicketDao">

    <sql id="sql">
       ticket_id , ticket_name , school_name , ticket_flag
    </sql>
    
    <sql id="insertSql">
    	ticket_name , school_name , ticket_flag
    </sql>
    
    <sql id="whereSql">
	 <where>
       <if test="ticket_id != null and ticket_id != '' ">
         and ticket_id = #{ticket_id}
       </if>
       <if test="ticket_flag != null and ticket_flag != '' ">
         and ticket_flag = #{ticket_flag}
       </if>
	 </where> 
    </sql>
    
    <sql id="whereBatchSql">
		<where>
			<if test="ticket_id != null and ticket_id != '' ">
				and ticket_id in
				<foreach collection="ticket_id" item="id" separator="," open="("
					close=")">
					#{id}
				</foreach>
			</if>
		</where>
	</sql>
	
	<select id="queryByRand" resultType="com.yunwei.product.common.model.YwTicket">
		select <include refid="sql"/> from yw_ticket as t1 where t1.ticket_id>=(RAND()*(select MAX(ticket_id) from yw_ticket)) limit 1;
	</select>

	<!-- 字典保存 -->
	<insert id="insert" parameterType="com.yunwei.product.common.model.YwTicket">
		insert into yw_ticket(<include refid="insertSql"/>) values(#{ticket_name},#{school_name},#{ticket_flag})
	</insert>
	
	<!-- 查询所有字典信息-->
	<select id="queryList" parameterType="java.util.Map" resultType="com.yunwei.product.common.model.YwTicket">
		select <include refid="sql"/> from yw_ticket
		<include refid="whereSql"/>
	</select>
	
	<!-- 查询分页信息 -->
	<select id="queryListPage" parameterType="java.util.Map" resultType="com.yunwei.product.common.model.YwTicket">
		select <include refid="sql"/> from yw_ticket
		<include refid="whereSql"/>
		limit #{begin},#{end}
	</select>
	
	<!-- 查询总条数 -->
	<select id="queryTotals" parameterType="java.util.Map" resultType="int">
		select count(1) from yw_ticket
		<include refid="whereSql"/>
	</select>
	
	<update id="update" parameterType="java.util.Map">
	    update yw_ticket
	     <trim prefix="set" suffixOverrides=",">
	      <if test="ticket_name != null and ticket_name != ''">
	           ticket_name = #{ticket_name},
	      </if>
	      <if test="school_name != null and school_name != ''">
	           school_name = #{school_name},
	      </if>
	      <if test="ticket_flag != null and ticket_flag != ''">
	           ticket_flag = #{ticket_flag},
	      </if>
	    </trim>
	    <where>
	    	<if test="ticket_id != null and ticket_id != '' ">
         		and ticket_id = #{ticket_id}
       		</if>
	    </where>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	    delete from yw_ticket 
	    <include refid="whereSql"/>
	</delete>
	
	<delete id="deleteBatch" parameterType="java.util.Map">
	   delete from yw_ticket
	   <include refid="whereBatchSql"/>
	</delete>
	
</mapper>